/***************************************
*  Copyright Intrado. 2019
*
*  Custom CSS for style guide
*
******************************************/
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff');
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('ttf');
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family:  'Roboto', 'Poppins', 'Arial', sans-serif !important;
	font-size: 14px !important;
}

h1 {
	font-weight: bold;
	font-size: 24px;
}

h2 {
	font-weight: bold;
	font-size: 20px;
}

h3 {
	font-weight: bold;
	font-size: 18px;
}

h4 {
	font-weight: bold;
	font-size: 16px;
}

/* Small */
h5 {
	font-size: 12px;
}

/* Caption */
h6 {
	font-size: 10px;
}

/* Helper text */
small {
	font-size: 12px;
}

/*****************************************
*  
*  Background Colors
*  
******************************************/
.intradoWhiteBackground {
	background-color: #FFFFFF;
}

.intradoBlackBackground {
	background-color: #000000;
}

.intradoGreyBackground {
	background-color: #E4E4E4;
}

.intradoPurpleBackground {
	background-color: #582D82;
}

/*****************************************
*  
*  Navbar
*  
******************************************/
#intradoLogo {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
}

#intradoHeaderBar {
	padding: 2.5px 15px;
}

.navbar-brand {
	font-size: 16px;
	padding-top: 10px;
	font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-item .nav-link {
	color: #FFFFFF;
}  

/*****************************************
*  
*  User Profile Menu
*  
******************************************/

/* Bold dropdown list items */
.dropdown-item {
	font-size: 14px !important;
	padding: .2rem 1rem !important;
}

/* Remove Bootstrap 4 default dropdown toggle */
.dropdown-toggle::after {
	display: none;
}

@media (min-width: 768px) {
	#intradoUserProfileMenuTop {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
/*****************************************
*  
*  Horizontal Main Menu Tabs
*  
******************************************/

@media (min-width: 768px) {
	.intradoHorizontalNav .navbar-nav .nav-item .nav-link {
		padding-bottom: 25px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.intradoHorizontalNav .navbar-nav .nav-item .nav-link.active {
		border-bottom: 3px solid #FFFFFF;
		font-weight: bold;
	}
}

@media (max-width: 768px) {
	.intradoHorizontalNav .navbar-nav .nav-item .nav-link.active {
		background-color: #EBEAEC;
		color: #582D82;
	}

	.intradoHorizontalNav .navbar-nav .nav-item .nav-link.active:focus,
	.intradoHorizontalNav .navbar-nav .nav-item .nav-link.active:hover {
		color: #582D82;
	}
}

.intradoDropdownIcon {
	width: 0 !important;
	margin-right: 15px !important;
	color: #939393;
}

#intradoMainNav2 {
	padding-top: 20px;
}

@media (min-width: 768px) {
	/* adjust padding on help and other links */
	.intradoTopNavBarLink {
		padding: 0 25px !important;
	}
}

#intradoUserProfileBar {
	background-color: #F5F5F5;
}

@media (max-width: 768px) {
	#intradoUserProfileBar {
		padding: 0px;
	}
}

.intradoSmallerIcon {
	font-size: 20px;
}

/*****************************************
*  
*  Vertical Main Menu Tabs
*  
******************************************/

.intradoSidebar {
	background-color: #F5F5F5;
	padding: 0px;
}

@media (min-width: 768px) {
  .intradoSidebar {
	position: fixed;
    top: 62px; /* extend from bottom of header */
    bottom: 0px; /* extend to bottom of footer */
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	min-width: 150px;
	box-shadow: none;
  }
  
  .intradoFullWidth {
	  width: 100%;
  }
}

@media (max-width: 768px) {
  .intradoLeftNav {
	  background-color: #F5F5F5;
  }	
}

.intradoSidebar .navbar-nav .nav-link {
	color: #582D82 !important;
	padding: 10px 25px;
	font-weight: 400;
}

/* right border active indicator */
.intradoSidebar .navbar-nav .nav-link.active{
		border-right: 5px solid #582D82;
		padding: 10px 25px;
		background-color: #EBEAEC;
		color: #582D82 !important;
}

.intradoSidebar .navbar-nav .nav-link:hover,
.dropdown-item:focus, .dropdown-item:hover,
.navbar-dark .navbar-nav .show>.nav-link:active,
.navbar-dark .navbar-nav .show>.nav-link:focus {
	background-color: #582D82 !important;
	color: #FFFFFF !important;
}

.intradoVerticalPage {
	padding-top: 15px;
}

.navbar-nav .dropdown-menu {
	width: 100%
}

/*****************************************
*  
*  Accordion Menu
*  
******************************************/

.card-header.card-header.intradoAccordionPanel.intradoTopMenu a,
.card-header.card-header.intradoAccordionPanel.intradoSecondaryAccordion a {
	font-size: 14px;
	color: #582D82;
}

.card-header.card-header.intradoAccordionPanel.intradoTopMenu {
	background-color: #F5F5F5;
	padding: 10px 25px;
}

.intradoSubMenu {
	padding: 10px 10px 5px 25px;
	background-color: #F5F5F5;
}

.intradoSubSubMenu {
	padding: 5px 5px 5px 40px;
	background-color: #F5F5F5;
}	

.intradoSubMenu > a, .intradoSubSubMenu > a {
	color: #582D82;
	font-weight: normal !important;
}

.intradoSecondaryAccordion {
	background-color: #F5F5F5 !important;
}

.card-header.intradoAccordionPanel.intradoSecondaryAccordion a ,
.card-header.intradoAccordionPanel.intradoSecondaryAccordion.collapsed a {
	color: #582D82;
}

.card-header.intradoAccordionPanel.intradoSecondaryAccordion:hover,
.card-header.intradoAccordionPanel.intradoSecondaryAccordion:focus,
.card-header.intradoAccordionPanel.intradoSecondaryAccordion > a:hover,
.card-header.intradoAccordionPanel.intradoSecondaryAccordion > a:focus,
.card-header.intradoAccordionPanel.intradoSecondaryAccordion:active {
	background-color: #582D82 !important;
	color: #FFFFFF !important;
	text-decoration: none;
}

/* Remove extra border for inner accordion panels */
.intradoNoBorder {
	border: none !important;
	box-shadow: none;
}

/* Place expand/collapse icons on right for Accordion Menu */
.intradoAccordionMenuIcon {
	float: right;
	padding-top: 3px;
}

/*****************************************
*  
*  Tabs
*  
******************************************/

.card {
	border-radius: 0px;
}

.nav-tabs { 
	border-bottom: 2px solid #DDD; 
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 10px;
}

.nav-tabs .nav-link {
	padding: 0.5rem 2rem 0.75rem !important;
}

.nav-tabs .nav-link.active, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
	border-width: 0; 
}
	
.nav-tabs > li > a { 
	border: none; color: #666; 
}

.nav-tabs .nav-link.active, .nav-tabs > li > a:hover { 
	border: none;
	color: #582D82 !important;
	background: transparent; 
	font-weight: bold;
}
		
.nav-tabs > li > a::after { 
	content: ""; 
	background: #582D82; 
	height: 3px; 
	position: absolute; 
	width: 100%; 
	left: 0px; 
	bottom: -1px; 
	transition: all 250ms ease 0s; 
	transform: scale(0); 
}
	
.nav-tabs .nav-link.active::after, .nav-tabs > li:hover > a::after { 
	transform: scale(1); 
}

.tab-nav > li > a::after { 
	background: #582D82 none repeat scroll 0% 0%; color: #fff; 
}

.tab-pane { 
	padding: 15px 0; 
}

.tab-content {
	padding:20px;
	border-top: none;
	border-radius: 3px;
}

/*****************************************
*  
*  Links
*  
******************************************/

.intradoLinkDefault {
	text-decoration: underline;
}

a {
	color: #582D82;
}

a:focus, a:hover, .intradoLinkActive {
	color: #582D82;
	text-decoration: underline;
}

a:active, .intradoLinkVisited {
	color: #582D82;
}

.intradoLinkDarkBackground {
	color: #FFFFFF;
}

.intradoLinkDarkBackground:focus,
.intradoLinkDarkBackground:hover,
.intradoLinkDarkBackground-active {
	color: #FFFFFF;
	text-decoration: underline;
}

.intradoLinkDarkBackground:active,
.intradoLinkDarkBackground-visited {
	color: #FFFFFF;
}

/*****************************************
*  
*  Breadcrumbs
*  
******************************************/

.breadcrumb {
	background: none;
	margin-bottom: 5px;
	text-decoration: none !important;
}

.breadcrumb-item > a {
	color: #75868C !important;
}

.breadcrumb > .active {
  color: #000000;
}

/* Styling for breadcrumbs on dark backgrounds */
.breadcrumb.intradoDarkBackground > li + li:before {
  color: #FFFFFF;
}

.breadcrumb.intradoDarkBackground > .active {
  color: #FFFFFF;
}

/*****************************************
*  
*  Accordions
*  
******************************************/

.card-header.collapsed i {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	transition: transform 200ms;
	color: #8E99AB;
}

.card-header i {
	color: #8E99AB;
	transition: transform 200ms;
}

/* Standard Accordions */
.card-header.intradoAccordionPanel a {
	color: #000000;
}

.card-header.intradoAccordionPanel.collapsed a {
	color: #000000;
}

.card-header.intradoAccordionPanel.collapsed {
	background-color: #FFFFFF;
	color: #000000;
	border: none;
}

.card-header.intradoAccordionPanel {
	background-color: #FFFFFF;
	color: #000000;
	border: none;
	padding: 15px 25px;
	font-size: 16px;
	font-weight: normal;
}

.card-header.intradoAccordionPanel:hover, .card-header.collapsed:hover {
	cursor: pointer;
}

.accordion .card {
	border-radius: 0px;
	border-color: #000000;
}

.accordion .card + .card {
	margin-top: 0px;
}

.intradoAccordionContent {
	margin: 10px 25px;
}

.intradoSignInPanel {
	min-width: 500px;
}

/*****************************************
*  
*  Forms
*  
******************************************/

.md-form input:not([type]):focus:not([readonly]),
    .md-form input[type=text]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=password]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=email]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=url]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=time]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=date]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=datetime]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=tel]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=number]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=search]:not(.browser-default):focus:not([readonly]),
    .md-form input[type=search-md]:focus:not([readonly]),
    .md-form textarea.md-textarea:focus:not([readonly]) {
      border-bottom: 1px solid #582D82;
	  box-shadow: 0 1px 0 0 #582D82; 
}

.md-form input:not([type]):focus:not([readonly]) + label,
      .md-form input[type=text]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=password]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=email]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=url]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=time]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=date]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=number]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=search]:not(.browser-default):focus:not([readonly]) + label,
      .md-form input[type=search-md]:focus:not([readonly]) + label,
      .md-form textarea.md-textarea:focus:not([readonly]) + label {
		color: #582D82; 
}

.md-form.md-outline label {
	font-weight: normal !important;
}

.md-form.md-outline input[type=text]:focus:not([readonly]),
      .md-form.md-outline input[type=password]:focus:not([readonly]),
      .md-form.md-outline input[type=email]:focus:not([readonly]),
      .md-form.md-outline input[type=url]:focus:not([readonly]),
      .md-form.md-outline input[type=time]:focus:not([readonly]),
      .md-form.md-outline input[type=date]:focus:not([readonly]),
      .md-form.md-outline input[type=datetime-local]:focus:not([readonly]),
      .md-form.md-outline input[type=tel]:focus:not([readonly]),
      .md-form.md-outline input[type=number]:focus:not([readonly]),
      .md-form.md-outline input[type=search-md]:focus:not([readonly]),
      .md-form.md-outline input[type=search]:focus:not([readonly]),
      .md-form.md-outline textarea.md-textarea:focus:not([readonly]) {
		border-color: #582D82;
	  }

.md-form label {
	left: inherit; /* aligns label with field when grid used */
}

.form-control {
	color: #000000 !important;
}

/* Custom radio buttons and checkboxes */
input[type="checkbox"],
input[type="radio"] {
  margin-left: -2rem;
  opacity: 0;
  position: absolute;
}

.lt-ie9 input[type="checkbox"], .lt-ie9
input[type="radio"] {
  border: 0;
  float: left;
  margin: 0.4em 0.4em 0 0;
  position: static;
  width: auto;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 1em;
  padding-left: 8px;
  padding-right: 5px;
  border: 1px solid transparent;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: #ffffff;
  border-radius: 0;
  box-shadow: 0 0 0 1px #797979;
  content: '\a0';
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  margin-right: 0.8em;
  text-indent: 0.15em;
  vertical-align: middle\0;
  width: 1rem;
}

input[type="radio"] + label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #797979;
  height: 0.75rem;
  line-height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: #582D82;
}

input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #582D82;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../images/correct8.png");
  background-image: url("../images/correct8.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

/* Disabled checkbox and radio buttons */
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: #C9C9C9;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #C9C9C9;
  cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled + label::before,
input[type="radio"]:checked:disabled + label::before {
  background-color: #582D82;
  opacity: .65;
}

input[type="radio"] + label::before:focus {
	background-color: red !important;
  }

.intradoUnstyledList {
	list-style-type: none;
	margin-left: 5px;
	padding: 0;
 }

.intradoSignInBtn {
	margin: 0;
	width: 100%
}

/*****************************************
*  
*  Footer
*  
******************************************/

.intradoFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background: #F5F5F5;
}

.intradoFooterText {
	margin: 10px;
	color: #000000;
	font-size:12px !important;
}
@media (min-width: 768px) {
  .intradoLeftNavFooter {
    padding-left: 18%;
  }
}

@media (min-width: 768px) {
  .intradoAccordionNavFooter {
    padding-left: 20%;
  }
}

/*****************************************
*  
*  Buttons
*  
******************************************/

.btn {
                font-weight: medium;
				font-size: 14px;

}

.btn-primary {
				background-color: #582D82 !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
                background-color: #7332B3 !important;
}

.btn-secondary {
                background-color: #FFFFFF !important;
                color: #582D82;
}

.btn-secondary:hover,
.btn-secondary.hover,
.btn-secondary:focus,
.btn-secondary.focus {
                color: #582D82;
}

.btn-secondary:disabled {
                color: #582D82;
}

.btn:disabled {
	background-color: rgba(0,0,0,.11) !important;
	color: rgba(0,0,0,.25) !important;
}

.btn-link {
	color: #582D82 !important;
}

/*****************************************
*  
*  Alerts
*  
******************************************/

.alert-success,
.alert-danger,
.alert-info,
.alert-warning {
    color: #000000;
    font-size: 16px;
    border: none;
}

.alert-danger {
    background-color: #F57F29;
}

.alert-success {
    background-color: #3DA1AE;
}

.alert-info {
    background-color: #AFC5CD;
}

.alert-warning {
    background-color: #F9C20A;
}

.close {
	text-shadow: none;
}

.alert .material-icons {
	padding-right: 10px;
}

/*****************************************
*  
*  Sign In Form
*  
******************************************/

.intradoSignInPanel {
	max-width: 600px;
	padding: 20px;
}

.intradoSignInTitle {
	padding-top: 13px;
}

.intradoSignInForm {
	padding-bottom: 0px;
}

.intradoSignInPadding {
	padding-left: 20px;
	padding-right: 20px;
}

.intradoSignInLink {
	font-size: 12px;
}

.intradoWhiteFont {
	color: #FFFFFF !important;
}

.intradoDarkBackground {
	background-color: #000000;
}

.intradoRequiredField {
	color: #FF0000;
    font-weight: normal;
}

/*****************************************
*  
*  Form Validation
*  
******************************************/

/* Remove 'x' displayed at end of text field */
.form-control.is-invalid {
	background-image: none !important;
}

.md-form .form-control.is-invalid {
	color: #F57F29 !important;
	border-bottom: 1px solid #F57F29 !important;
}

.invalid-feedback {
	color: #F57F29 !important;
}

.md-form .form-control.disabled {
	color: rgba(0, 0, 0, 0.38) !important;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.42) !important;
}

.md-form.md-outline .form-control.is-invalid {
	border: 1px solid #F57F29 !important;
}

/*****************************************
*  
*  Tables
*  
******************************************/
.table td {
	font-size: 12px !important;
	padding-top: .8rem !important;
	padding-bottom: .8rem !important;
	font-weight: normal;
}

.table th {
	font-size: 12px !important;
	font-weight: normal;
}

.table-hover > tbody > tr:hover {
  background-color: #582D82 !important;
  color: white;
}

/*****************************************
*  
*  Modals
*  
******************************************/

.close {
    color: #000000;
    opacity: 100;
}

.modal-title {
	font-size: 21px;
	font-weight: 500; /* medium */
	padding: 0 10px;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-content {
	font-size: 16px;
}

.modal-body {
	padding: 0 25px;
}

.intradoLoadingModalHeader {
	background-color: #582D82;
	color: #FFFFFF;
}

.modal-content  {
	border-radius: 6px 6px 0px 0px;
}

.intradoLoadingModalContent {
	text-align: center;
	padding: 5px;
}

.intradoPurpleText{
	color: #582D82;
}

.intradoBlueText{
	color: #3DA1AE;
}

.intradoGreyText {
	color: #758687;
}

.intradoDarkGreyText {
	color: #514F4D;
}
/*****************************************
*  
*  Dropdowns
*  
******************************************/

/* Style Select Field */
select {
	-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	font-family: inherit !important;
	background-color: transparent !important;
	width: 100% !important;
	padding: 4px 0 !important;
	font-size: 16px !important;
	color: rgba(0,0,0, 0.26) !important;
	border: none !important;
	border-bottom: 1px solid rgba(0,0,0, 0.12) !important;
	border-radius: 0 !important;
  }
  /* Remove focus */
  select:focus {
	outline: none !important;
  }
  /* Hide label */
  .mdl-selectfield label {
	display: none !important;
  }
  /* Use custom arrow */
  .mdl-selectfield select {
	appearance: none !important;
  }
  .mdl-selectfield {
	font-family: 'Roboto', 'Poppins', 'Arial', sans-serif !important;
	position: relative !important;
  }
  .mdl-selectfield:after {
	position: absolute !important;
	top: 1em !important;
	right: 0.5em !important;
	/* Styling the down arrow */
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	content: '' !important;
	border-left: 0.375em solid transparent !important;
	border-right: 0.375em solid transparent !important;
	border-top: 0.5em solid rgba(0,0,0, 0.25) !important;
	pointer-events: none !important;
  }

/*****************************************
*  
*  Custom Tooltips
*  
******************************************/

/* Supports accessibility so button is not empty */
.intradoTooltipButtonLabel {
	font-size: 0;
	font-color: transparent;
}

.bs-tooltip-top .arrow {
	display: none;
}

.tooltip-inner {
	background-color: #616161;
	font-size: 10px;
}

.intradoPopoverIcon {
	color: #582D82;
	display:inline-block; /* chrome-fix */
	cursor: pointer;
	padding-left: 10px;
}