/***************************************
*  //Copyright West Safety Services, Inc. 2016
*
*  Universal CSS
*
******************************************/
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff');
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif;
	margin-bottom: 40px;
}

/*****************************************
*  
*  Navbar
*  
******************************************/

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	border-style: none;
}

#westLogo {
    display: inline;
	margin-top: -2px;
	margin-right: 12px;
	margin-left: 2px;
}

#headerBar {
	background-color: #000000;
	border-radius: 0px;
}

.navbar-brand {
	font-size: 16px;
	padding: 10px 15px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
	font-weight: bold;
	white-space: nowrap;
}

/* Adjust navbar size and alignment */
.navbar-inverse .navbar-nav > li > a {
	line-height: 8px;
}

/*****************************************
*  
*  User Profile Menu
*  
******************************************/

/* Bold dropdown list items */
.dropdown-menu > li > a {
	font-weight: bold;
}

/* Set background color of dropdown list */
.navbar-nav>li>.dropdown-menu {
	background-color: #F2F2F2;
	border: 1px solid #000000;
	border-radius: 0px;
	min-width: 120px;
}

/* Set hover color for dropdown items */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #DDDDDD;
}

/* Username profile menu: Match color of dropdown list and reduce height */
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #F2F2F2;
	color: #000000;
	border: 1px solid #000000;
}

/* Custom divider styling */
.dropdown-menu .divider {
	margin: 2px;
    margin-left: 35px;
    margin-right: 25px;
	background-color: #949494
}

/* Ensure styling of dropdown carries through to responsive devices */
@media (max-width: 767px){
	.navbar-nav .open .dropdown-menu {
	background-color: #F2F2F2;
	border: 1px solid #000000;
	}
	
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #000000;
    font-weight: bold;
	}
	
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #000000;
		background-color: #DDDDDD;
	}
	
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: #949494
	}
}

/* Make entire userprofile link clickable */
.loginUserLabel{
	font-weight: bold;
}

/* Remove grey/cyan border-top for userprofile dropdown */
#userProfileMenu {
	border-top: 2px solid #000000;
}

/*****************************************
*  
*  Horizontal Main Menu Tabs
*  
******************************************/

#mainNav2 {
	background-color: #444444;
}

@media (min-width: 768px) {
	#mainNav2 {
		padding-left: 0px;
	}
}

.navbar-inverse .navbar-nav > li > a {
	border: 1px solid #000000;
	border-top: 2px solid #666666;
	padding-top: 14px;
	font-weight: normal;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	border-top: 2px solid #009EE1;
	padding-top: 14px;
	background-color: #232323;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a {
	border-top: 2px solid #009EE1;
	padding-top: 14px;
	background-color: #444444;
	font-weight: bold;
}

/* Style for mobile devices */
@media (max-width: 767px){
	.navbar-inverse .navbar-nav > li > a {
		border: 1px solid #000000;
		border-top: 1px solid #000000;
	}
	
	.navbar-inverse .navbar-nav > li > a:hover,
	.navbar-inverse .navbar-nav > li > a:focus {
		border-top: 1px solid #000000;
		background-color: #232323;
	}

	.navbar-inverse .navbar-nav>.active>a {
		background-color: #444444;
		border-top: 1px solid #000000;
	}
}

/*****************************************
*  
*  Vertical Main Menu Tabs
*  
******************************************/

/* extend sidebar along entire page */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px; /* extend from bottom of header */
    bottom: 0px; /* extend to bottom of footer */
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #444444;
    border-right: 1px solid #eee;
	min-width: 15%; /* preserve minimum width for menu items */
  }
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	
	.sidebar-nav .navbar ul {
		float: none;
	}
	
	.sidebar-nav .navbar ul:not {
		display: block;
	}
	
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	
	.sidebar-nav .navbar-inverse .navbar-nav > li > .dropdown-menu {
		width: 100%;
	}
  
	.sidebar-nav .navbar-inverse .navbar-nav > li > a {
		border: 1px solid #000000;
		/*border-left: 2px solid #666666;*/
		padding-left: 14px;
		font-weight: normal;
		/*margin-left: 4px;*/
		background-color: #444444;
	}

	.sidebar-nav .navbar-inverse .navbar-nav > li > a:hover,
	.sidebar-nav .navbar-inverse .navbar-nav > li > a:focus {
		border-right: 10px solid #009EE1;
		padding-left: 14px;
		background-color: #232323;
		font-weight: bold;
		/*margin-left: 4px;*/
		color: #FFFFFF;
	}

	.sidebar-nav .navbar-inverse .navbar-nav>.active>a {
		border-right: 10px solid #009EE1;
		padding-left: 14px;
		background-color: #444444;
		font-weight: bold;
		/*margin-left: 4px;*/
	}
	
	.sidebar-nav .navbar-inverse .navbar-nav>.open>a {
		background-color: #F2F2F2!important;
		color: #000000!important;
	}
	
	/* adjust margin on row to remove horizontal scrollbar */
	.sidebarRow {
		margin-right: 0px;
	}
	
	/* adjust username profile menu positioning when using a fixed nav for the vertical menus */
	.navbar-right{
			margin-right: 0px;
	}
}

/* Style for mobile devices */
@media (max-width: 767px){
	#sideNavBar {
		min-height: 0px;
	}
}

.verticalNavPage {
	padding-top: 50px;
}

/*****************************************
*  
*  Links
*  
******************************************/

.link-default {
	text-decoration: underline;
}

a {
	color: #005DAC;
}

a:focus, a:hover, .link-active {
	color: #001b46;
}

a:active, .link-visited {
	color: #492f91;
}

.link-dark-background {
	color: #009EE1;
}

.link-dark-background:focus,
.link-dark-background:hover,
.link-dark-background-active {
	color: #FFFFFF;
}

.link-dark-background:active,
.link-dark-background-visited {
	color: #AE9CDF;
}

/*****************************************
*  
*  Breadcrumbs
*  
******************************************/

.breadcrumb > li + li:before {
  color: #005DAC;
}

.breadcrumb > .active {
  color: #000000;
  font-weight: bold;
}

/** Button-style breadcrumbs **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  /*border-left: 10px solid #fff;*/
  border-left: 10px solid #DDDDDD;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  /*border-left: 10px solid #ccc;*/
  border-left: 10px solid #000000;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  /*border-left: 10px solid #ebebeb;*/
  border-left: 10px solid #DDDDDD;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  /*border-left: 10px solid #adadad;*/
  border-left: 10px solid #000000;
}

/*****************************************
*  
*  Accordions
*  
******************************************/
.panel-heading {
	padding: 5px;
}

.panel-heading .chevron:after {
    content: "\f078";   
}
.panel-heading.collapsed .chevron:after {
    content: "\f054"; 
	color: #000000;
}

/* Standard Accordions */
.panel-heading.accordionPanel a {
	color: #FFFFFF;
}

.panel-heading.accordionPanel.collapsed a {
	color: #000000;
}

.panel-heading.accordionPanel.collapsed {
	background-color: #DDDDDD;
	color: #000000;
	border-radius: 0px;
	border-color: #797979;
}

.panel-heading.accordionPanel {
	background-color: #005DAC;
	color: #FFFFFF;
	border-radius: 0px;
	border-color: #797979;
}

.panel-heading.accordionPanel:hover, .panel-heading.collapsed:hover {
	cursor: pointer;
}

.panel-group .panel {
	border-radius: 0px;
	border-color: #797979;
}

.panel-group .panel + .panel {
	margin-top: 2px;
}

.accordionContent {
	margin: 10px;
}

/*Minimalist Accordions */
.panel-heading.accordionPanelMin {
	background-color: #FFFFFF;
	color: #FFFFFF;
	border: none;
	padding-bottom: 0px;
}

.panel-heading.accordionPanelMin a{
	color: #000000;
}

.panel-heading.accordionPanelMin:hover, .panel-heading.collapsed:hover {
	cursor: pointer;
}

.panelMin {
	border: none;
}

.accordionContentMin {
	margin: 0px 40px;
}

.horizontalLine {
	margin-top: 10px;
	border: 1px solid #000000;
	width: 95%;
	float: right;
}

/* Adjust for smaller screen widths */
@media (max-width: 1160px){
	.horizontalLine {
		margin-top: 10px;
		border: 1px solid #000000;
		width: 80%;
		float: right;
	}
}
/*****************************************
*  
*  Forms
*  
******************************************/

/* Remove rounded-corners on text-fields */
.form-control {
	border-radius: 0px;
}

/* Custom radio buttons and checkboxes */
input[type="checkbox"],
input[type="radio"] {
  margin-left: -2rem;
  opacity: 0;
  position: absolute;
}

.lt-ie9 input[type="checkbox"], .lt-ie9
input[type="radio"] {
  border: 0;
  float: left;
  margin: 0.4em 0.4em 0 0;
  position: static;
  width: auto;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 1em;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 1px #333333;
  content: '\a0';
  display: inline-block;
  height: 1.4rem;
  line-height: 1.4rem;
  margin-right: 0.8em;
  text-indent: 0.15em;
  vertical-align: middle\0;
  width: 1.4rem;
}

input[type="radio"] + label::before {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #333333;
  height: 1.2rem;
  line-height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: #005dac;
  /*box-shadow: 0 0 0 1px #000000;*/
}

input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px #005dac;
}

input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px #005dac, 0 0 3px 4px #3e94cf, 0 0 7px 4px #3e94cf;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../images/correct8.png");
  background-image: url("../images/correct8.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #0071bc;
}

input[type="checkbox"]:disabled + label {
  color: #5b616b;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  background: #d6d7d9;
  box-shadow: 0 0 0 1px #aeb0b5;
  cursor: not-allowed;
}
  
 #horizontalCheckbox {
	 display: inline-flex;
	 padding-right: 10px;
 }
 
 .wss-unstyled-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
 }
 
 /*left-aligned labels*/
 .form-horizontal .control-label {
	 text-align: left;
 }

/*****************************************
*  
*  Footer
*  
******************************************/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background: #E4E4E4;
}
#footerText {
	margin: 10px;
	color: #000000;
	font-size:12px !important;
}


/*****************************************
*  
*  Buttons
*  
******************************************/

.btn {
                font-weight: bold;
                border-width: 1px;

}

.btn-primary {
                background-color: #005DAC;
                border-color: #1B4478;
                color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary.focus{
                background-color: #005DAC;
                color: #FFFFFF;
                border-color: #1B4478;
                box-shadow: 0 0 14px 0 #009EE1;
}

.btn-primary:active,
.btn-primary.active {
                background-color: #1B4478;
                border-color: #1B4478;
                color: #FFFFFF;
}

.btn-primary:disabled {
                background-color: #276AA2;
                color: #E4E4E4;
                border-color: #1B4478;
}

.btn-default {
                background-color: #DDDDDD;
                color: #000000;
                border-color: #000000;
}

.btn-default:hover,
.btn-default.hover,
.btn-default:focus,
.btn-default.focus {
                background-color: #DDDDDD;
                color: #000000;
                border-color: #000000;
                box-shadow: 0 0 14px 0 #009EE1;
}

.btn-default:active,
.btn-default.active {
                background-color: #A1A1A1;
                color: #000000;
                border-color: #000000;
}

.btn-default:disabled {
                background-color: #DDDDDD;
                border-color: #606060;
                color: #606060;
}

.btn-link {
 color: #005dac;
}

.btn.small {
                width: 90px;
}

.btn.medium {
                width: 120px;
}

.btn.large {
                width: 150px;
}

/* Use white hover styling when buttons are on dark backgrounds */
.btn-dark-background:hover,
.btn-dark-background.hover,
.btn-dark-background:focus,
.btn-dark-background.focus {
	box-shadow: 0 0 14px 0 #FFFFFF;
}

/*****************************************
*  
*  Alerts
*  
******************************************/

.alert-success,
.alert-danger,
.alert-info,
.alert-warning {
                color: #000000;
                font-weight: bold;
                padding: 5px;
                border-radius: 0px;
                box-shadow: 5px 5px 5px #888888;
                border-width: 2px;
}

.close {
                color: #FFFFFF;
                opacity: 100;
}

.alert-danger {
                background-color: #F2DEDE;
                border-color: #ED1C24;
}

.alert-success {
                background-color: #DFF0D8;
                border-color: #00A262;
}

.alert-info {
                margin-bottom: 20px;
			    background-color: #D9EDF7;
			    border: 2px solid #009EE1;
			    font-weight: bold;
			    box-shadow: 3px 3px 5px 0px rgba(163, 157, 163, 1);
			    padding: 5px;
}

.alert-warning {
                background-color: #FCF8E3;
                border-color: #F8C70F;
}

.alert .glyphicon {
    display:table-cell;
}

.alert div,
.alert span {
    padding-left: 5px;
    display:table-cell;
}

/*****************************************
*  
*  Forms
*  
******************************************/

#signInForm {
	max-width: 450px;
}

.whiteFont {
	color: #FFFFFF;
}

.darkBackground {
	background-color: #000000;
}

.requiredField {
	color: #B30000;
    font-size: 12px;
    font-weight: normal;
}

/*****************************************
*  
*  Form Validation
*  
******************************************/

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .radio label,
.has-error .checkbox label,
.has-error .radio-inline label,
.has-error .checkbox-inline label {
  color: #B30000;
}

.has-error .form-control {
  border-color: #B30000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
  border-color: #B30000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #B30000;
  background-color: #f2dede;
  border-color: #B30000;
}

/*****************************************
*  
*  Tables
*  
******************************************/
/*table, th, td {
	border: 2px solid #FFFFFF;
}*/

.table-active, .th-active, .td-active {
	border: 2px solid #FFFFFF;
}

.th-active {
	color: #FFFFFF;
	background-color: #687982;
}

.th-passive {
	color: #687982;
	background-color: #FFFFFF;
	/*border: none;*/
}

.table>thead>tr>th {
	border-bottom: 2px solid #687982;
}

.table>tbody>tr>td {
	border-top: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #e4e4e4;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 158, 225, 0.3);
}

.fa-sort-down:before, .fa-sort-desc:before {
                color: #FFFFFF;
}

.fa-sort-up:before, .fa-sort-asc:before {
                color: #FFFFFF;
}

/*****************************************
*  
*  Modals
*  
******************************************/

.modal-header {
	color: whitesmoke;
	padding: 5px;
	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
}

.modal-body  {
	padding: 5px;
}

.modal-icon-color {
	color:#23527c;
}

.modal-content  {
	text-align: center;
	font-size: 14px;
}

.defaultModalHeader  {
	background-color: #005dac;
}

.successModalHeader  {
	background-color: #008000;
}

.failedModalHeader {
	background-color: #fcf8e3;
	color: #000000;
}

.changeSuccessModalHeader {
	background-color: #008000;
	font-size: 18px;
	font-weight: bold;
}

/*****************************************
*  
*  Dropdowns
*  
******************************************/

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url("../images/arrow-down.png");
  background-image: url("../images/arrow-down.svg");
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;

}

.dropdown-caret {
	background-image: url("../images/arrow-down.svg");
}