/***************************************
*  //Copyright West Safety Services, Inc. 2018
*
*  Universal CSS
*
******************************************/
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff');
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif !important;
	font-size: 14px !important;
}

h1 {
	font-weight: bold;
	font-size: 32px;
}

h2 {
	font-weight: bold;
	font-size: 24px;
}

h3 {
	font-weight: bold;
	font-size: 21px;
}

h4 {
	font-weight: bold;
	font-size: 18px;
}

h5 {
	font-weight: bold;
	font-size: 15px;
}

h6 {
	font-weight: bold;
	font-size: 12px;
}

/*****************************************
*  
*  Background Colors
*  
******************************************/
.wssWhiteBackground {
	background-color: #FFFFFF;
}

.wssBlackBackground {
	background-color: #000000;
}

.wssGreyBackground {
	background-color: #E4E4E4;
}

/*****************************************
*  
*  Navbar
*  
******************************************/
#wssWestLogo {
	margin-right: 10px;
}

#wssHeaderBar {
	padding: 2.5px 15px;
}

.navbar-brand {
	font-size: 16px;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link, 
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-item .nav-link {
	color: #FFFFFF;
	font-weight: bold;
}  

/*****************************************
*  
*  User Profile Menu
*  
******************************************/

/* Expand to full width of username */
.dropdown-menu {
	width: 100%;
	background-color: #E4E4E4;
	border: 1px solid #000000;
	border-radius: 0px;
	min-width: 120px;
	margin-top: 0px;
}

/* Bold dropdown list items */
.dropdown-item {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	padding: .1rem 1rem;
}

/* Remove Bootstrap 4 default dropdown toggle */
.dropdown-toggle::after {
	display: none;
}

.dropdown-item:hover, .dropdown-item:focus,
.dropdown-item.active, .dropdown-item:active {
	color: #000000;
	background-color: #009EE1;
}

/* Username profile menu: Match color of dropdown list and reduce height */
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .show>.nav-link:hover, .navbar-dark .navbar-nav .show>.nav-link:focus{
	background-color: #E4E4E4 !important;
	color: #000000;
	border: 1px solid #000000;
}

/* Custom divider styling */
.dropdown-menu .dropdown-divider {
	margin: 2px;
    margin-left: 40px;
    margin-right: 20px;
	border-top: 1px solid #949494
}

/*****************************************
*  
*  Horizontal Main Menu Tabs
*  
******************************************/

.wssHorizontalMenu {
	background-color: #2D383F;
	padding: 0rem;
}

.navbar-dark .navbar-nav .nav-item .nav-link{
	border: 1px solid #000000;
	font-weight: bold;
	min-width: 120px;
	padding: 8px 15px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover,
.navbar-dark .navbar-nav .nav-item .nav-link:focus {
	font-style: italic;
	background-color: #000000;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-item .nav-link.active {
	border-top: 2px solid #009EE1;
	background-color: #2D383F;
	font-weight: bold;
}

.wssDropdownIcon {
	width: 0 !important;
	margin-right: 10px !important;
	margin-top: 5px;
}

/*****************************************
*  
*  Vertical Main Menu Tabs
*  
******************************************/

/* Create grey divider bar to separate menus from header */
#wssMenuDividerBar {
	width: 100%; 
	height: 5px; 
	background-color: #CCCCCC; 
	border: 1px solid #797979;
}

.wssSidebar {
	background-color: #2D383F;
	padding: 0px;
}

@media (min-width: 768px) {
  .wssSidebar {
	position: fixed;
    top: 55px; /* extend from bottom of header */
    bottom: 0px; /* extend to bottom of footer */
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
	min-width: 150px;
  }
  
  .wssFullWidth {
	  width: 100%;
  }
}

@media (max-width: 768px) {
  .wssLeftNav {
	  background-color: #2D383F;
  }	
}

/* right border active indicator */
.wssSidebar .navbar-nav .nav-link.active{
		border-top: 1px solid #000000 !important;
		border-right: 10px solid #009EE1;
		padding-left: 14px;
		background-color: #2D383F;
		font-weight: bold;
}

.wssVerticalPage {
	padding-top: 15px;
}


/*****************************************
*  
*  Accordion Menu
*  
******************************************/

.wssTopMenu {
	padding-left: 10px !important;
	font-weight: bold;
}

.wssSubMenu {
	padding: 5px 5px 5px 25px;
	font-weight: bold;
	background-color: #E4E4E4;
	border: 1px solid #FFFFFF;
}

.wssSubSubMenu {
	padding: 5px 5px 5px 40px;
	font-weight: bold;
	background-color: #E4E4E4;
	border: 1px solid #FFFFFF;
}	

.wssSubMenu > a, .wssSubSubMenu > a {
	color: #000000;
}

.wssSubSubMenu.active {
	border-right: 10px solid #009EE1;
}

.wssSecondaryAccordion {
	background-color: #C9C9C9 !important;
	color: #000000 !important;
	border: 1px solid #FFFFFF !important;
	font-weight: bold;
}

.card-header.wssAccordionPanel.wssSecondaryAccordion a ,
.card-header.wssAccordionPanel.wssSecondaryAccordion.collapsed a,
.card-header.wssAccordionPanel.wssSecondaryAccordion.collapsed .chevron:after {
	color: #000000;
}

/* Remove extra border for inner accordion panels */
.wssNoBorder {
	border: none;
}

/* Place expand/collapse icons on right for Accordion Menu */
.wssAccordionMenuIcon{
	float: right;
	padding-top: 3px;
}

/*****************************************
*  
*  Tabs
*  
******************************************/

.nav-tabs {
	border-bottom: none;
}

.nav-tabs .nav-item .nav-link {
  border: 1px solid #000000;
  border-bottom: none;
  color: #FFFFFF;
  background-color: #2D383F;
  border-radius: 0px;
  line-height: 0px;
  margin-right: 0px;
  padding: 15px 15px;
  font-weight: bold;
  min-width: 150px;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link:focus {
  border-color: #000000;
  border-bottom: none;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  font-style: italic;
}

.nav-tabs .nav-item .nav-link.active {
  font-style: normal; /*don't italicize title of active tab on hover*/
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link.active:hover,
.nav-tabs .nav-item .nav-link.active:focus {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #797979;
  border-bottom: none;
  font-weight: bold;
}

.tab-content {
  border: 1px solid #666666;
  padding-top: 15px;
}

.wssTabIcon {
  line-height: 0px !important;
}


/*****************************************
*  
*  Links
*  
******************************************/

.wssLinkDefault {
	text-decoration: underline;
}

a {
	color: #005DAC;
}

a:focus, a:hover, .wssLinkActive {
	color: #001b46;
}

a:active, .wssLinkVisited {
	color: #492f91;
}

.wssLinkDarkBackground {
	color: #FFFFFF;
}

.wssLinkDarkBackground:focus,
.wssLinkDarkBackground:hover,
.wssLinkDarkBackground-active {
	color: #009EE1;
}

.wssLinkDarkBackground:active,
.wssLinkDarkBackground-visited {
	color: #AE9CDF;
}

/*****************************************
*  
*  Breadcrumbs
*  
******************************************/

.breadcrumb {
	background: none;
	margin-bottom: 5px;
}

.breadcrumb > .active {
  color: #000000;
  font-weight: bold;
}

/* Styling for breadcrumbs on dark backgrounds */
.breadcrumb.wssDarkBackground > li + li:before {
  color: #FFFFFF;
}

.breadcrumb.wssDarkBackground > .active {
  color: #FFFFFF;
}

/** Button-style breadcrumbs **/
.wssBtnBreadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.wssBtnBreadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #000000;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.wssBtnBreadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.wssBtnBreadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.wssBtnBreadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.wssBtnBreadcrumb .btn.btn-secondary:not(:last-child):after {
  border-left: 10px solid #DDDDDD;
}
.wssBtnBreadcrumb .btn.btn-secondary:not(:last-child):before {
  border-left: 10px solid #000000;
}
.wssBtnBreadcrumb .btn.btn-secondary:hover:not(:last-child):after {
  border-left: 10px solid #DDDDDD;
}
.wssBtnBreadcrumb .btn.btn-secondary:hover:not(:last-child):before {
  border-left: 10px solid #000000;
}

/* Disable standard box shadow for buttons since this causes undesired button overlap */
/* Just underline text link instead */
.wssBtnBreadcrumb .btn.btn-secondary:hover, .wssBtnBreadcrumb .btn.btn-secondary:focus {
	box-shadow: none;
	text-decoration: underline;
}

.wssBtnBreadcrumb .btn.btn-secondary.active:hover{
	text-decoration: none;
}

.wssBtnBreadcrumb .btn.btn-primary.active:hover, .wssBtnBreadcrumb .btn.btn-primary.active:focus {
	box-shadow: none;
	background-color: #1B4478;;
}

/* Disable hover behavior for active button (dark backgrounds only) */
.wssBtnBreadcrumb .btn.btn-secondary.active:hover, .wssBtnBreadcrumb .btn.btn-secondary.active:focus, .wssBtnBreadcrumb .btn.btn-secondary.active {
	background-color: #A1A1A1;
	border-color: #000000;
	box-shadow: none;
	color: #000000;
}

/* Prevents undesired button overlap on hover */
.wssBtnBreadcrumb>.btn:hover, .wssBtnBreadcrumb>.btn:focus{
	z-index: auto;
}

/*****************************************
*  
*  Accordions
*  
******************************************/

.card-header {
	padding: 5px;
}

/* Accordion icons */
.card-header .chevron:after {
    content: "\f078";   
}
.card-header.collapsed .chevron:after {
    content: "\f054"; 
	color: #FFFFFF;
}

/* Standard Accordions */
.card-header.wssAccordionPanel a {
	color: #FFFFFF;
}

.card-header.wssAccordionPanel.collapsed a {
	color: #FFFFFF;
}

.card-header.wssAccordionPanel.collapsed {
	background-color: #2D383F;
	color: #FFFFFF;
	border-radius: 0px;
	border-color: #000000
}

.card-header.wssAccordionPanel {
	background-color: #2D383F;
	color: #FFFFFF;
	border-radius: 0px;
	border-color: #000000;
}

.card-header.wssAccordionPanel:hover, .card-header.collapsed:hover {
	cursor: pointer;
}

.accordion .card {
	border-radius: 0px;
	border-color: #000000;
}

.accordion .card + .card {
	margin-top: 0px;
}

.wssAccordionContent {
	margin: 5px 25px;
}

/*Minimalist Accordions */
.card-header.wssAccordionPanelMin {
	background-color: #FFFFFF;
	color: #000000;
	border: none;
	padding-bottom: 0px;
}

.card-header.wssAccordionPanelMin a{
	color: #000000;
}

.card-header.wssAccordionPanelMin.collapsed .chevron:after {
    content: "\f054"; 
	color: #000000;
}

.card-header.wssAccordionPanelMin:hover, .card-header.collapsed:hover {
	cursor: pointer;
}

.wssPanelMin {
	border: none;
}

.wssAccordionContentMin {
	margin: 0px 40px;
}

.wssHorizontalLine {
	margin-top: 10px;
	border: 1px solid #000000;
	width: 95%;
	float: right;
}

/* Adjust for smaller screen widths */
@media (max-width: 1160px){
	.wssHorizontalLine {
		margin-top: 10px;
		border: 1px solid #000000;
		width: 80%;
		float: right;
	}
}
/*****************************************
*  
*  Forms
*  
******************************************/

label {
	font-weight: bold;
}

/* Remove rounded-corners on text-fields */
.form-control {
	border-radius: 0px;
}

/* Custom radio buttons and checkboxes */
input[type="checkbox"],
input[type="radio"] {
  margin-left: -2rem;
  opacity: 0;
  position: absolute;
}

.lt-ie9 input[type="checkbox"], .lt-ie9
input[type="radio"] {
  border: 0;
  float: left;
  margin: 0.4em 0.4em 0 0;
  position: static;
  width: auto;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 1em;
  padding-left: 8px;
  padding-right: 5px;
  border: 1px solid transparent;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 1px #797979;
  content: '\a0';
  display: inline-block;
  height: 0.9rem;
  line-height: 0.9rem;
  margin-right: 0.8em;
  text-indent: 0.15em;
  vertical-align: middle\0;
  width: 0.9rem;
}

input[type="radio"] + label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #797979;
  height: 0.5rem;
  line-height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: #005DAC;
}

input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #005DAC;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../images/correct8.png");
  background-image: url("../images/correct8.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

/* Disabled checkbox and radio buttons */
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: #C9C9C9;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #C9C9C9;
  cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled + label::before,
input[type="radio"]:checked:disabled + label::before {
  background-color: 276AA2;
  opacity: .65;
}

/* Focus checkbox and radio buttons */
input[type="checkbox"]:focus + label,
input[type="radio"]:focus + label {
  border: 1px solid #009EE1;
  border-radius: 5px;
}

/* Hover checkbox and radio buttons */
input[type="checkbox"]:hover + label,
input[type="radio"]:hover + label {
  border: 1px solid #009EE1;
  border-radius: 5px;
}

.wssUnstyledList {
	list-style-type: none;
	margin-left: 5px;
	padding: 0;
 }

/*****************************************
*  
*  Footer
*  
******************************************/

.wssFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background: #E4E4E4;
}

.wssFooterText {
	margin: 10px;
	color: #000000;
	font-size:12px !important;
}
@media (min-width: 768px) {
  .wssLeftNavFooter {
    padding-left: 18%;
  }
}

@media (min-width: 768px) {
  .wssAccordionNavFooter {
    padding-left: 20%;
  }
}

/*****************************************
*  
*  Buttons
*  
******************************************/

.btn {
                font-weight: bold;
				font-size: 14px;
                border-width: 1px;

}

.btn-primary {
                background-color: #005DAC;
                border-color: #1B4478;
                color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary.focus{
                background-color: #005DAC;
                color: #FFFFFF;
                border-color: #1B4478;
                box-shadow: 0 0 14px 0 #009EE1;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
                background-color: #1B4478;
                border-color: #1B4478;
                color: #FFFFFF;
}

.btn-primary:disabled {
                background-color: #276AA2;
                color: #E4E4E4;
                border-color: #1B4478;
}

.btn-secondary {
                background-color: #DDDDDD;
                color: #000000;
                border-color: #000000;
}

.btn-secondary:hover,
.btn-secondary.hover,
.btn-secondary:focus,
.btn-secondary.focus {
                background-color: #DDDDDD;
                color: #000000;
                border-color: #000000;
                box-shadow: 0 0 14px 0 #009EE1;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
                background-color: #A1A1A1;
                color: #000000;
                border-color: #000000;
}

.btn-secondary:disabled {
                background-color: #DDDDDD;
                border-color: #606060;
                color: #606060;
}

.btn-link {
 color: #005dac;
}

.btn.wssSmall {
                width: 90px;
}

.btn.wssMedium {
                width: 120px;
}

.btn.wssLarge {
                width: 150px;
}

/* Use white hover styling when buttons are on dark backgrounds */
.wssDarkBackgroundButton:hover,
.wssDarkBackgroundButton.hover,
.wssDarkBackgroundButton:focus,
.wssDarkBackgroundButton.focus {
	box-shadow: 0 0 14px 0 #FFFFFF;
}

/*****************************************
*  
*  Alerts
*  
******************************************/

.alert-success,
.alert-danger,
.alert-info,
.alert-warning {
                color: #000000;
                font-weight: bold;
                padding: 5px;
                border-radius: 0px;
                box-shadow: 5px 5px 5px #888888;
                border-width: 2px;
}

.alert-danger {
                background-color: #F2DEDE;
                border: 2px solid #ED1C24;
}

.alert-success {
                background-color: #DFF0D8;
                border: 2px solid #00A262;
}

.alert-info {
			    background-color: #D9EDF7;
			    border: 2px solid #009EE1;
}

.alert-warning {
                background-color: #FCF8E3;
                border: 2px solid #F8C70F;
}

/*****************************************
*  
*  Forms
*  
******************************************/

.wssSignInPanel {
	max-width: 450px;
    border-radius: 0px;
}

.wssSignInTitle {
	padding-top: 10px;
}

.wssSignInForm {
	padding-bottom: 0px;
}

.wssSignInPadding {
	padding-left: 20px;
	padding-right: 20px;
}

.wssSignInLink {
	font-size: 12px;
}

.wssWhiteFont {
	color: #FFFFFF !important;
}

.wssDarkBackground {
	background-color: #000000;
}

.wssRequiredField {
	color: #FF0000;
    font-weight: normal;
}

/*****************************************
*  
*  Form Validation
*  
******************************************/

.has-error .help-block,
.has-error .col-form-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .radio label,
.has-error .checkbox label,
.has-error .radio-inline label,
.has-error .checkbox-inline label {
  color: #B30000; /* for WCAG 2.0 readable error message */
}

.has-error .form-control {
  border-color: #FF0000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
  border-color: #FF0000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #B30000; /* for WCAG 2.0 readable error message */
  background-color: #f2dede;
  border-color: #FF0000;
}

/*****************************************
*  
*  Tables
*  
******************************************/
.table td, .table th {
	padding: .5rem;
}

.wssActiveTable, .wssActiveTableHeader, .wssActiveTableData {
	border: 2px solid #FFFFFF;
}

.wssActiveTableHeader {
	color: #FFFFFF;
	background-color: #687982;
}

.wssPassiveTableHeader {
	color: #687982;
	background-color: #FFFFFF;
}

.table>thead>tr>th {
	border-bottom: 2px solid #687982;
	border-top: none;
}

.table>tbody>tr>td {
	border-top: none;
}

.wssActiveTable>tbody>tr>td {
	border: 2px solid #FFFFFF;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #e4e4e4;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 158, 225, 0.3);
}

.fa-sort-down:before, .fa-sort-desc:before {
                color: #FFFFFF;
}

.fa-sort-up:before, .fa-sort-asc:before {
                color: #FFFFFF;
}

/*****************************************
*  
*  Modals
*  
******************************************/

.close {
    color: #000000;
    opacity: 100;
}

.modal-header {
	color: #000000;
	padding: 5px;
	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
	font-weight: bold;
	font-size: 14px;
}

/* Custom WSS colors */
.wssSuccessModalHeader {
	background-color: #DFF0D8;
	border: 2px solid #00A262;
}

.wssInfoModalHeader {
	background-color: #D9EDF7; 
	border: 2px solid #009EE1;
}

.wssWarningModalHeader {
	background-color: #FCF8E3; 
	border: 2px solid #F8C70F;
}

.wssErrorModalHeader {
	background-color: #F2DEDE; 
	border: 2px solid #ED1C24;
}

.wssNeutralModalHeader {
	background-color: #E4E4E4;
	border: 2px solid #797979;
}

.wssLoadingModalHeader {
	background-color: #005DAC;
	color: #FFFFFF;
}

.modal-content  {
	border-radius: 6px 6px 0px 0px;
}

.wssLoadingModalContent {
	text-align: center;
	padding: 5px;
}

/*****************************************
*  
*  Dropdowns
*  
******************************************/

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url("../images/arrow-down.png");
  background-image: url("../images/arrow-down.svg");
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 0.75rem;

}

.wssDropdownCaret {
	background-image: url("../images/arrow-down.svg");
}

/*****************************************
*  
*  Custom Tooltips
*  
******************************************/

/* Supports accessibility so button is not empty */
.wssTooltipButtonLabel {
	font-size: 0;
	font-color: transparent;
}

.popover-header {
	font-size: 14px;
}

.wssPopoverIcon {
	color: #005dac;
	display:inline-block; /* chrome-fix */
	cursor: pointer;
}

/* Success Tooltips */
.wssSuccessPopoverHeader {
	background-color: #DFF0D8;
	border: 2px solid #00A262;
}

/* Add fa-check icon */
.wssSuccessPopoverHeader:before {
	content: "\f00c"; /*fa-check*/
	font-family: FontAwesome;
	padding-right: 10px;
	/*fa-lg*/
	font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
	/*fa-fw*/
	width: 1.28571429em;
    text-align: center;
}

/* Info Tooltips */
.wssInfoPopoverHeader {
	background-color: #D9EDF7; 
	border: 2px solid #009EE1;
}

/* Add fa-info-circle icon */
.wssInfoPopoverHeader:before {
	content: "\f05a"; /*fa-info-circle*/
	font-family: FontAwesome;
	padding-right: 10px;
	/*fa-lg*/
	font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
	/*fa-fw*/
	width: 1.28571429em;
    text-align: center;
}

/* Warning Tooltips */
.wssWarningPopoverHeader {
	background-color: #FCF8E3; 
	border: 2px solid #F8C70F;
}

/* Add fa-exclamation-triangle icon */
.wssWarningPopoverHeader:before {
	content: "\f071"; /*fa-exclamation-triangle*/
	font-family: FontAwesome;
	padding-right: 10px;
	/*fa-lg*/
	font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
	/*fa-fw*/
	width: 1.28571429em;
    text-align: center;
}

/* Error Tooltips */
.wssErrorPopoverHeader {
	background-color: #F2DEDE; 
	border: 2px solid #ED1C24;
}

/* Add fa-times-circle icon */
.wssErrorPopoverHeader:before {
	content: "\f057"; /*fa-times-circle*/
	font-family: FontAwesome;
	padding-right: 10px;
	/*fa-lg*/
	font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
	/*fa-fw*/
	width: 1.28571429em;
    text-align: center;
}

/* Neutral Tooltips */
.wssNeutralPopoverHeader {
	background-color: #E4E4E4;
	border: 2px solid #797979;
}